# ignore build files
docs/_build/
build/
src/charm4py/_version.py
__pycache__
charm4py.egg-info

# ignore venv
.venv

# ignore some common tmp files
*.swp
*.pyc

# ignore binaries
src/charm4py/.libs/
charmrun/charmrun

# ignore macOS specific files
.DS_STORE
test_output

