# ignore build files
docs/_build/
build/
charm_src/
charm4py/_version.py
charm4py/charmlib/build/
__pycache__
charm4py.egg-info

# ignore venv
.venv

# ignore some common tmp files
*.swp
*.pyc

# ignore binaries
charm4py/.libs/
charmrun/charmrun

# ignore macOS specific files
.DS_STORE
test_output

